# No subir archivos de base de datos o sensibles
main_mysql.py
*.db
*.sqlite
*.env
*.bak
*.pyc
.coverage

# Archivos de sistema
__pycache__/
.pytest_cache/
.vscode/
.DS_Store
venv/
resultados_cpra.csv
scripts/resultados_cpra.csv
